.Rproj.user
.Rhistory
.RData
.Ruserdata
weather temperature/kernel weights/full_w_d_lag4_01.rds
weather temperature/kernel weights/full_w_d_lag4_009.rds
weather temperature/kernel weights/full_w_d_lag4_006.rds
weather temperature/kernel weights/full_w_d_lag5_01.rds
weather temperature/kernel weights/full_w_d_lag5_009.rds
weather temperature/kernel weights/full_w_d_lag5_006.rds
weather temperature/kernel weights/full_w_d_lag6_01.rds
weather temperature/kernel weights/full_w_d_lag6_009.rds
weather temperature/kernel weights/full_w_d_lag6_006.rds
weather temperature/kernel weights/full_w_d_lag7_01.rds
weather temperature/kernel weights/full_w_d_lag7_009.rds
weather temperature/kernel weights/full_w_d_lag7_006.rds
weather temperature/kernel weights/full_w_d_lag8_01.rds
weather temperature/kernel weights/full_w_d_lag8_009.rds
weather temperature/kernel weights/full_w_d_lag8_006.rds
weather temperature/kernel weights/full_w_d_lag9_01.rds
weather temperature/kernel weights/full_w_d_lag9_009.rds
weather temperature/kernel weights/full_w_d_lag9_006.rds
weather temperature/kernel weights/full_w_d_lag10_01.rds
weather temperature/kernel weights/full_w_d_lag10_009.rds
weather temperature/kernel weights/full_w_d_lag10_006.rds
weather temperature/kernel weights/full_w_d_lag11_01.rds
weather temperature/kernel weights/full_w_d_lag11_009.rds
weather temperature/kernel weights/full_w_d_lag11_006.rds
weather temperature/kernel weights/full_w_d_lag12_01.rds
weather temperature/kernel weights/full_w_d_lag12_009.rds
weather temperature/kernel weights/full_w_d_lag12_006.rds
